@model Movie

@{
    ViewData["Title"] = Model.Name + " - details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.Name" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            @if (Model.Description.Length > 120)
                            {
                                @Model.Description.Substring(0, 120)
                                <span class="link-info" onclick="alert('@Model.Description');">&nbsp;... more info</span>
                            }
                            else
                            {
                                @Model.Description
                            }
                        </p>
                        <p class="card-text">
                            <b>Cinema:</b>&nbsp;<i></i>
                            <a asp-controller="Cinemas" asp-action="Details" asp-route-id="@Model.Cinema.Id">
                                @Model.Cinema.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Producer:</b>&nbsp;<i></i>
                            <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.Producer.Id">
                                @Model.Producer.FullName
                            </a>
                        </p>
                        <p class="card-text"><b>Category:</b>&nbsp;<i>@Model.MovieCategory</i></p>
                        <p class="card-text"><b>Start Date:</b>&nbsp;<i>@Model.StartDate.ToString("dd MMM yyyy")</i></p>
                        <p class="card-text"><b>End Date:</b>&nbsp;<i>@Model.EndDate.ToString("dd MMM yyyy")</i></p>
                        <p class="card-text">
                            <b>Status: </b>
                            @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                            {
                                <span class="badge bg-success text-white">AVAILABLE</span>
                            }
                            else if (DateTime.Now > Model.EndDate)
                            {
                                <span class="badge bg-danger text-white">EXPIRED</span>
                            }
                            else
                            {
                                <span class="badge bg-info text-white">UPCOMING</span>
                            }
                        </p>
                        <p class="card-text">
                            <b>Actors: </b>
                            <hr/>
                            <div class="row">
                                @foreach (var actor in Model.Actors_Movies)
                                {
                                    <div class="column text-center">
                                        <img class="border-info rounded-circle" src="@actor.Actor.ProfilePictureURL" alt="@actor.Actor.FullName" style="width:50px;height:50px;" />
                                        <br />
                                        <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.Actor.Id">@actor.Actor.FullName</a>
                                    </div>
                                }
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-sm-end" asp-action="Index">
                                Back to List
                            </a>
                            <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemFromShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i>&nbsp;Add to Cart (Price @Model.Price.ToString("c"))</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>